// App color scheme

$primary: #3d5afe;
$accent: #FCE4EC;
$danger: #d50000;
$success: #00c853;

$bg-light: #ffffff;

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
    transition: all ease-in 200ms !important;
    transition-delay: 0 !important;
}

html {
    scroll-behavior: smooth;
    --color-primary: #3d5afe;
    --color-accent: #FCE4EC;
    --color-danger: #d50000;
    --color-success: #00c853;

    --color-font: #111111;
    --color-font-accent: #7b7b7b;
    --color-font-alt: #ffffff;

    --color-border: #e4e4e4;

    --color-background-dark: #e0e0e0;
    --color-background-light: #ffffff;
    --color-background: #fafafa;

    --color-background-dark-alt: #18191a;
    --color-background-light-alt: rgba(255,255,255, 0.1);
    --color-background-alt: #242526;
}

html[data-theme="dark"] {
    --color-font: #ffffff;
    --color-font-accent: rgba(255,255,255, 0.6);
    --color-font-alt: #111111;

    --color-border: #292929;
    
    $bg-light: rgba(255,255,255, 0.1);
    --color-background-dark: #18191a;
    --color-background-light: rgba(255,255,255, 0.1);
    --color-background: #242526;

    --color-background-dark-alt: #e0e0e0;
    --color-background-light-alt: #ffffff;
    --color-background-alt: #fafafa;
}

:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
}