// App color scheme

$primary: #3d5afe;
$accent: #e0e0e0;
$danger: #d50000;
$success: #00c853;

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
    transition: all ease-in 200ms !important;
    transition-delay: 0 !important;
}

html {
    --color-primary: #3d5afe;
    --color-accent: #e0e0e0;
    --color-danger: #d50000;
    --color-success: #00c853;

    --color-font: #111111;
    --color-font-accent: #7b7b7b;
    --color-font-alt: #ffffff;

    --color-border: #e4e4e4;

    --color-background-dark: #e0e0e0;
    --color-background-light: #ffffff;
    --color-background: #fafafa;
}

html[data-theme="dark"] {
    --color-primary: #3d5afe;
    --color-accent: #e0e0e0;
    --color-danger: #d50000;
    --color-success: #00c853;

    --color-font: #ffffff;
    --color-font-accent: rgba(255,255,255, 0.6);
    --color-font-alt: #111111;

    --color-border: #292929;
    
    --color-background-dark: #18191a;
    --color-background-light: rgba(255,255,255, 0.1);
    --color-background: #242526;
}

:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
}