/* Global components */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdn.materialdesignicons.com/5.1.45/css/materialdesignicons.min.css');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--color-font);
    background-color: var(--color-background-dark);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

a {
  color: var(--primary-color);
}

.icon {
  font-family: 'Material Icons', sans-serif;
}