// App color scheme

$primary: #3d5afe;
$accent: #e0e0e0;
$danger: #d50000;
$success: #00c853;

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

html {
    --color-primary: $primary;
    --color-accent: $accent;
    --color-danger: $danger;
    --color-success: $success;

    --color-font: #111111;
    --color-font-accent: #7b7b7b;

    --color-border: #e4e4e4;

    --color-selection-background: #7b7b7b;

    --color-background-dark: #e0e0e0;
    --color-background: #ffffff;
}

html[data-theme="dark"] {
    --color-primary: $primary;
    --color-accent: $accent;
    --color-danger: $danger;
    --color-success: $success;

    --color-font: #ffffff;
    --color-font-accent: rgba(255,255,255, 0.6);

    --color-border: #292929;

    --color-selection-background: #242526;

    --color-background-dark: #18191a;
    --color-background: #242526;
}

:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    /* dark mode styles */ 
    html {
        --color-primary: $primary;
        --color-accent: $accent;
        --color-danger: $danger;
        --color-success: $success;

        --color-font: #ffffff;
        --color-font-accent: rgba(255,255,255, 0.6);

        --color-border: #292929;

        --color-selection-background: #242526;

        --color-background-dark: #18191a;
        --color-background: #242526;
    }
}