@import '../../assets/style/scss/index.scss';

#logo {
  font-family: 'Google September 2015', sans-serif;
}

.shell {
  background-color: var(--color-background-dark);

  .app-bar {
    background-color: var(--color-background);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    * {
      margin: 16px 0;
    }
  }
}